# remove vscode,sigasi, pycharm files
##########################
/.settings
.project
.library_mapping.xml
/.vscode
/.idea

# untrack doc files
/doc


#########################################################
# untracked project files
#########################################################
# Untracked all files
/project/vivado00/*
# track only the *.xpr files
!/project/vivado00/*.xpr


# untracked temporary files
/constraints/*/*_tmp.xdc



